html {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    line-height: 2rem;
    letter-spacing: 2px;
}

body {
    position: relative; 
    background: #25282a;
}

.container {
    width: min(36rem, calc(100% - 20px));
    margin: 100px auto 0; 
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
        'meme meme' 
        'text pagination';
    gap: 10px;
    overflow: hidden;
}

.slider {
    grid-area: meme;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 35px 0;
    transition: all 0.5s ease-in-out
}

.item {
    width: 100%;
    border-radius: 10px
}

.pagination {
    grid-area: pagination;
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}

.button div {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #71abfe;
    border: 3px solid #71abfe;
    box-sizing: border-box;
    border-radius: 100px;
}

.button:hover div {
    background-color: rgba(0,0,0,0);
    transition: .25s ease;
}

.button_active div {
    background-color: #ffffff;
    border: 3px solid #ffffff;
}   

.button_active:hover div {
    background-color: rgba(0,0,0,0);
    transition: .25s ease;
}

.text {
    grid-area: text;
    margin: 0;
    color: white;
    font-size: 2rem;
    animation: show 1s
}

.text_disabled {
    opacity: 0;
    animation: hide .2s
}

@media (max-width: 520px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'meme' 
        'pagination'
        'text';
        overflow: hidden;
    }
    .pagination {
        justify-content: center;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        transform: scale(0.9)
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.9)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}